body{
    background-color: rgb(0, 195, 255);
    font: 20px normal Arial;
    color: white;
    padding: 15px;
    text-align: center;
}

.main{
    color: black;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.411);
    border-radius: 20px;

    width: 500px;
    height: 300px;
    margin: auto;
    justify-items: center;
    padding: 15px;
}

.title{
    margin-top: 20px;
    font-size: 30px;
}
#tasks{
    margin-top: 20px;
    width: 200px;
}