body{
    background-color: rgb(0, 140, 255);
    font: 20px normal Arial;
}
#title{
    color: white;
    text-align: center;
    font-size: 50px;
}
#painel{
    width: 500px;
    height: 200px;
    margin: auto;
    padding: 20px;
    
    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.342); 
}
.container{
    padding: 10px;
}