body{
    background-color: rgb(0, 162, 202);
    color: white;
    padding: 10px;
    text-align: center;

}

.main{

    background-color: white;
    color: black;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.404);
    
    height: 150px;
    width: 300px;
    padding: 10px;
    margin: auto;
}

.container{
    display: flex;
    justify-content: center;
    gap: 50px;

    position: fixed;
    bottom: 100px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.button{
    background-color: white;
    border-radius: 20px;
    height: 30px;
}

.button:hover{
    transform: scale(1.1, 1.1);
}

.buttonActivate{
    background-color: rgb(0, 197, 211);
    color: white;
}

.container1{
    position: fixed;
    bottom: 150px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.numberIn{
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.219);
    width: 100px;
}

.textSaldo{
    font-size: 25px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}