body{
    background-color: rgb(0, 195, 255);
    font-size: 25px;
    font: 20px normal Arial;
    padding: 10px;
}
.title{
    color: white;
    text-align: center;
    padding: 15px;
}
footer{
    text-align: center;
    font-style: italic;
    color: white;
    font-size: 35px;
    margin-top: 90px;
}
.main{
    width: 500px;
    height: 250px;
    margin: auto;
    padding: 15px;
    
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.445);
}