body{
    background: radial-gradient(circle, rgb(231, 0, 231), purple);
    font: 16px normal Arial;
    text-align: center;
    
}

/* Titulo */
.title{
    color: rgba(255, 255, 255, 0.808);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title:hover{
    color: white;
    transform: scale(1.01, 1.01);
    cursor:default;
}

/* Section */

.main{
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(252, 152, 252), rgb(255, 135, 255), rgb(255, 48, 255));
    border-radius: 20px;
    border: 5px solid rgb(168, 63, 168);
    box-shadow: 5px 5px 5px rgba(58, 0, 58, 0.562);

    padding: 10px;
    margin: 0 auto;
    width: 400px;
    height: 100px;
    transition: background-color 0.3s ease;
    background-size: 300% 300%;
    animation: animaGradiente 5s ease infinite;
}

@keyframes animaGradiente {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


