*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(0, 3, 31);
    color: white;
    text-align: center;
}

.container{
    width: 500px;
    height: 300px;
    
    background-color: white;
    border-radius: 50px;

    justify-content: center;
    display: flex;
    margin: auto;
}
#text{
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    
}

#imaDiv{
    width: 200px;
    height: 200px;
   
    background-color: black;
    border-radius: 100px;
    margin: auto;
    
    background-image: url();
    background-size: 175%;
    background-position: center;
}